.container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .table {
    margin-bottom: 0;
  }
  
  .table thead th {
    vertical-align: middle;
  }
  
  .spinner-border {
    margin-right: 0.5rem;
  }